services:
  frontend:
    build: ./frontend
    networks:
      - app-network
    ports:
      - 8080:8080
    depends_on:
      - backend

  backend:
    build: ./backend
    networks:
      - app-network
    ports:
      - "3333:3333"
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:latest
    networks:
      - app-network
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=email-tagger-db
    volumes:
      - app-volume:/var/lib/postgresql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d email-tagger-db"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

networks:
  app-network:

volumes:
  app-volume:
